In [1]:
import pandas as pd

df_population = pd.read_csv("../data/population.csv")

print(df_population)

       Year  District.Code District.Name  Neighborhood.Code  \
0      2017              1  Ciutat Vella                  1
1      2017              1  Ciutat Vella                  2
2      2017              1  Ciutat Vella                  3
3      2017              1  Ciutat Vella                  4
4      2017              2      Eixample                  5
...     ...            ...           ...                ...
70075  2013             10    Sant Martí                 69
70076  2013             10    Sant Martí                 70
70077  2013             10    Sant Martí                 71
70078  2013             10    Sant Martí                 72
70079  2013             10    Sant Martí                 73

                                  Neighborhood.Name  Gender   Age  Number
0                                          el Raval    Male   0-4     224
1                                    el Barri Gòtic    Male   0-4      50
2                                    la Barceloneta    Male   0-4      43
3             Sant Pere, Santa Caterina i la Ribera    Male   0-4      95
4                                     el Fort Pienc    Male   0-4     124
...                                             ...     ...   ...     ...
70075  Diagonal Mar i el Front Marítim del Poblenou  Female  >=95      21
70076                         el Besòs i el Maresme  Female  >=95      25
70077                       Provençals del Poblenou  Female  >=95      31
70078                      Sant Martí de Provençals  Female  >=95      38
70079                           la Verneda i la Pau  Female  >=95      47

[70080 rows x 8 columns]

In [132]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70080 entries, 0 to 70079
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               70080 non-null  int64
 1   District.Code      70080 non-null  int64
 2   District.Name      70080 non-null  object
 3   Neighborhood.Code  70080 non-null  int64
 4   Neighborhood.Name  70080 non-null  object
 5   Gender             70080 non-null  object
 6   Age                70080 non-null  object
 7   Number             70080 non-null  int64
dtypes: int64(4), object(4)
memory usage: 4.3+ MB

In [133]:
df_population.isna().sum()

Year                 0
District.Code        0
District.Name        0
Neighborhood.Code    0
Neighborhood.Name    0
Gender               0
Age                  0
Number               0
dtype: int64

In [134]:
df_population= df_population.drop(columns = ['Neighborhood.Code', 'Neighborhood.Name',])
df_population

       Year  District.Code District.Name  Gender   Age  Number
0      2017              1  Ciutat Vella    Male   0-4     224
1      2017              1  Ciutat Vella    Male   0-4      50
2      2017              1  Ciutat Vella    Male   0-4      43
3      2017              1  Ciutat Vella    Male   0-4      95
4      2017              2      Eixample    Male   0-4     124
...     ...            ...           ...     ...   ...     ...
70075  2013             10    Sant Martí  Female  >=95      21
70076  2013             10    Sant Martí  Female  >=95      25
70077  2013             10    Sant Martí  Female  >=95      31
70078  2013             10    Sant Martí  Female  >=95      38
70079  2013             10    Sant Martí  Female  >=95      47

[70080 rows x 6 columns]

In [135]:
df_population = df_population.rename(columns={"Year":"YEAR", "District.Code":"CODE_DISTRICT", "District.Name":"DISTRICT", "Gender":"SEX", "Age":"AGE", "Number":"POPULATION"})
df_population

       YEAR  CODE_DISTRICT      DISTRICT     SEX   AGE  POPULATION
0      2017              1  Ciutat Vella    Male   0-4         224
1      2017              1  Ciutat Vella    Male   0-4          50
2      2017              1  Ciutat Vella    Male   0-4          43
3      2017              1  Ciutat Vella    Male   0-4          95
4      2017              2      Eixample    Male   0-4         124
...     ...            ...           ...     ...   ...         ...
70075  2013             10    Sant Martí  Female  >=95          21
70076  2013             10    Sant Martí  Female  >=95          25
70077  2013             10    Sant Martí  Female  >=95          31
70078  2013             10    Sant Martí  Female  >=95          38
70079  2013             10    Sant Martí  Female  >=95          47

[70080 rows x 6 columns]

In [136]:
indexNames = df_population[ df_population['YEAR'] != 2017 ].index
df_population = df_population.drop(indexNames)
df_population

       YEAR  CODE_DISTRICT      DISTRICT     SEX   AGE  POPULATION
0      2017              1  Ciutat Vella    Male   0-4         224
1      2017              1  Ciutat Vella    Male   0-4          50
2      2017              1  Ciutat Vella    Male   0-4          43
3      2017              1  Ciutat Vella    Male   0-4          95
4      2017              2      Eixample    Male   0-4         124
...     ...            ...           ...     ...   ...         ...
14011  2017             10    Sant Martí  Female  >=95          11
14012  2017             10    Sant Martí  Female  >=95          41
14013  2017             10    Sant Martí  Female  >=95          28
14014  2017             10    Sant Martí  Female  >=95          57
14015  2017             10    Sant Martí  Female  >=95          54

[14016 rows x 6 columns]

In [137]:
df_population = df_population.groupby(['DISTRICT', 'SEX', 'AGE'])['POPULATION'].apply(lambda x: x.sum()).reset_index()
df_population

                DISTRICT     SEX    AGE  POPULATION
0           Ciutat Vella  Female    0-4        1867
1           Ciutat Vella  Female  10-14        1654
2           Ciutat Vella  Female  15-19        1538
3           Ciutat Vella  Female  20-24        3021
4           Ciutat Vella  Female  25-29        5744
..                   ...     ...    ...         ...
395  Sarrià-Sant Gervasi    Male  75-79        2183
396  Sarrià-Sant Gervasi    Male  80-84        2066
397  Sarrià-Sant Gervasi    Male  85-89        1245
398  Sarrià-Sant Gervasi    Male  90-94         583
399  Sarrià-Sant Gervasi    Male   >=95         128

[400 rows x 4 columns]

In [138]:
##indexages = df_population[ (df_population.AGE != '0-4') | (df_population.AGE != '5-9') | (df_population.AGE != '10-14')].index
indexages = df_population[ df_population.AGE != '0-4'].index
##[df_population.AGE != '5-9'].index
##[df_population.AGE != '10-14'].index
df_population = df_population.drop(indexages)
df_population

                DISTRICT     SEX  AGE  POPULATION
0           Ciutat Vella  Female  0-4        1867
20          Ciutat Vella    Male  0-4        1988
40              Eixample  Female  0-4        5010
60              Eixample    Male  0-4        5275
80                Gràcia  Female  0-4        2501
100               Gràcia    Male  0-4        2695
120       Horta-Guinardó  Female  0-4        3340
140       Horta-Guinardó    Male  0-4        3460
160            Les Corts  Female  0-4        1699
180            Les Corts    Male  0-4        1709
200           Nou Barris  Female  0-4        3525
220           Nou Barris    Male  0-4        3672
240          Sant Andreu  Female  0-4        3126
260          Sant Andreu    Male  0-4        3450
280           Sant Martí  Female  0-4        5185
300           Sant Martí    Male  0-4        5416
320       Sants-Montjuïc  Female  0-4        3541
340       Sants-Montjuïc    Male  0-4        3791
360  Sarrià-Sant Gervasi  Female  0-4        3534
380  Sarrià-Sant Gervasi    Male  0-4        3618

In [139]:
print(df_population)

                DISTRICT     SEX  AGE  POPULATION
0           Ciutat Vella  Female  0-4        1867
20          Ciutat Vella    Male  0-4        1988
40              Eixample  Female  0-4        5010
60              Eixample    Male  0-4        5275
80                Gràcia  Female  0-4        2501
100               Gràcia    Male  0-4        2695
120       Horta-Guinardó  Female  0-4        3340
140       Horta-Guinardó    Male  0-4        3460
160            Les Corts  Female  0-4        1699
180            Les Corts    Male  0-4        1709
200           Nou Barris  Female  0-4        3525
220           Nou Barris    Male  0-4        3672
240          Sant Andreu  Female  0-4        3126
260          Sant Andreu    Male  0-4        3450
280           Sant Martí  Female  0-4        5185
300           Sant Martí    Male  0-4        5416
320       Sants-Montjuïc  Female  0-4        3541
340       Sants-Montjuïc    Male  0-4        3791
360  Sarrià-Sant Gervasi  Female  0-4        3534
380  Sarrià-Sant Gervasi    Male  0-4        3618