In [9]:
import pandas as pd

df_population = pd.read_csv("../data/population.csv")

print(df_population)

       Year  District.Code District.Name  Neighborhood.Code  \
0      2017              1  Ciutat Vella                  1
1      2017              1  Ciutat Vella                  2
2      2017              1  Ciutat Vella                  3
3      2017              1  Ciutat Vella                  4
4      2017              2      Eixample                  5
...     ...            ...           ...                ...
70075  2013             10    Sant Martí                 69
70076  2013             10    Sant Martí                 70
70077  2013             10    Sant Martí                 71
70078  2013             10    Sant Martí                 72
70079  2013             10    Sant Martí                 73

                                  Neighborhood.Name  Gender   Age  Number
0                                          el Raval    Male   0-4     224
1                                    el Barri Gòtic    Male   0-4      50
2                                    la Barceloneta    Male   0-4      43
3             Sant Pere, Santa Caterina i la Ribera    Male   0-4      95
4                                     el Fort Pienc    Male   0-4     124
...                                             ...     ...   ...     ...
70075  Diagonal Mar i el Front Marítim del Poblenou  Female  >=95      21
70076                         el Besòs i el Maresme  Female  >=95      25
70077                       Provençals del Poblenou  Female  >=95      31
70078                      Sant Martí de Provençals  Female  >=95      38
70079                           la Verneda i la Pau  Female  >=95      47

[70080 rows x 8 columns]

In [10]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70080 entries, 0 to 70079
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               70080 non-null  int64
 1   District.Code      70080 non-null  int64
 2   District.Name      70080 non-null  object
 3   Neighborhood.Code  70080 non-null  int64
 4   Neighborhood.Name  70080 non-null  object
 5   Gender             70080 non-null  object
 6   Age                70080 non-null  object
 7   Number             70080 non-null  int64
dtypes: int64(4), object(4)
memory usage: 4.3+ MB

In [11]:
df_population.isna().sum()

Year                 0
District.Code        0
District.Name        0
Neighborhood.Code    0
Neighborhood.Name    0
Gender               0
Age                  0
Number               0
dtype: int64

In [12]:
df_population= df_population.drop(columns = ['Neighborhood.Code', 'Neighborhood.Name','Gender'])
df_population

       Year  District.Code District.Name   Age  Number
0      2017              1  Ciutat Vella   0-4     224
1      2017              1  Ciutat Vella   0-4      50
2      2017              1  Ciutat Vella   0-4      43
3      2017              1  Ciutat Vella   0-4      95
4      2017              2      Eixample   0-4     124
...     ...            ...           ...   ...     ...
70075  2013             10    Sant Martí  >=95      21
70076  2013             10    Sant Martí  >=95      25
70077  2013             10    Sant Martí  >=95      31
70078  2013             10    Sant Martí  >=95      38
70079  2013             10    Sant Martí  >=95      47

[70080 rows x 5 columns]

In [13]:
df_population = df_population.rename(columns={"Year":"YEAR", "District.Code":"CODE_DISTRICT", "District.Name":"DISTRICT", "Age":"AGE", "Number":"TOTAL"})
df_population

       YEAR  CODE_DISTRICT      DISTRICT   AGE  TOTAL
0      2017              1  Ciutat Vella   0-4    224
1      2017              1  Ciutat Vella   0-4     50
2      2017              1  Ciutat Vella   0-4     43
3      2017              1  Ciutat Vella   0-4     95
4      2017              2      Eixample   0-4    124
...     ...            ...           ...   ...    ...
70075  2013             10    Sant Martí  >=95     21
70076  2013             10    Sant Martí  >=95     25
70077  2013             10    Sant Martí  >=95     31
70078  2013             10    Sant Martí  >=95     38
70079  2013             10    Sant Martí  >=95     47

[70080 rows x 5 columns]

In [14]:
#indexNames = df_population[ df_population['YEAR'] != 2017 ].index
#df_population = df_population.drop(indexNames)
#df_population

In [15]:
#indexages = df_population[ (df_population.AGE != '0-4') & (df_population.AGE != '5-9') & (df_population.AGE != '10-14')].index
#df_population = df_population.drop(indexages)
#df_population

In [16]:
df_population = df_population.replace({'5-9': '05-9'})

In [17]:
df_population = df_population.groupby(['CODE_DISTRICT', 'DISTRICT', 'AGE'])['TOTAL'].apply(lambda x: x.sum()).reset_index()
df_population

     CODE_DISTRICT      DISTRICT    AGE  TOTAL
0                1  Ciutat Vella    0-4  19940
1                1  Ciutat Vella   05-9  18362
2                1  Ciutat Vella  10-14  16114
3                1  Ciutat Vella  15-19  17185
4                1  Ciutat Vella  20-24  30606
..             ...           ...    ...    ...
195             10    Sant Martí  75-79  44297
196             10    Sant Martí  80-84  41676
197             10    Sant Martí  85-89  26094
198             10    Sant Martí  90-94  10269
199             10    Sant Martí   >=95   2481

[200 rows x 4 columns]

In [18]:
print(df_population)

     CODE_DISTRICT      DISTRICT    AGE  TOTAL
0                1  Ciutat Vella    0-4  19940
1                1  Ciutat Vella   05-9  18362
2                1  Ciutat Vella  10-14  16114
3                1  Ciutat Vella  15-19  17185
4                1  Ciutat Vella  20-24  30606
..             ...           ...    ...    ...
195             10    Sant Martí  75-79  44297
196             10    Sant Martí  80-84  41676
197             10    Sant Martí  85-89  26094
198             10    Sant Martí  90-94  10269
199             10    Sant Martí   >=95   2481

[200 rows x 4 columns]

In [19]:
df_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CODE_DISTRICT  200 non-null    int64
 1   DISTRICT       200 non-null    object
 2   AGE            200 non-null    object
 3   TOTAL          200 non-null    int64
dtypes: int64(2), object(2)
memory usage: 6.4+ KB

In [20]:
df_population.to_csv("../data/population_cleaned.csv", index=False)