In [1]:
import pandas as pd
import numpy as np

In [2]:
df_renta = pd.read_csv("../data/renta.csv")

print(df_renta)

     Any  Codi_Districte Nom_Districte  Codi_Barri  \
0   2018               1  Ciutat Vella           1
1   2018               1  Ciutat Vella           2
2   2018               1  Ciutat Vella           3
3   2018               1  Ciutat Vella           4
4   2018               2      Eixample           5
..   ...             ...           ...         ...
68  2018              10    Sant Martí          69
69  2018              10    Sant Martí          70
70  2018              10    Sant Martí          71
71  2018              10    Sant Martí          72
72  2018              10    Sant Martí          73

                                       Nom_Barri  Import_€_Any
0                                       el Raval         12351
1                                 el Barri Gòtic         14598
2                                 la Barceloneta         16271
3          Sant Pere, Santa Caterina i la Ribera         17803
4                                  el Fort Pienc         21890
..                                           ...           ...
68  Diagonal Mar i el Front Marítim del Poblenou         24081
69                         el Besòs i el Maresme         12981
70                       Provençals del Poblenou         19975
71                      Sant Martí de Provençals         18447
72                           la Verneda i la Pau         16710

[73 rows x 6 columns]

In [3]:
df_renta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Any             73 non-null     int64
 1   Codi_Districte  73 non-null     int64
 2   Nom_Districte   73 non-null     object
 3   Codi_Barri      73 non-null     int64
 4   Nom_Barri       73 non-null     object
 5   Import_€_Any    73 non-null     int64
dtypes: int64(4), object(2)
memory usage: 3.5+ KB

In [4]:
print(df_renta['Any'].unique())

[2018]

In [5]:
df_renta= df_renta.drop(columns = ['Any', 'Codi_Barri','Nom_Barri'])
df_renta

    Codi_Districte Nom_Districte  Import_€_Any
0                1  Ciutat Vella         12351
1                1  Ciutat Vella         14598
2                1  Ciutat Vella         16271
3                1  Ciutat Vella         17803
4                2      Eixample         21890
..             ...           ...           ...
68              10    Sant Martí         24081
69              10    Sant Martí         12981
70              10    Sant Martí         19975
71              10    Sant Martí         18447
72              10    Sant Martí         16710

[73 rows x 3 columns]

In [6]:
df_renta = df_renta.rename(columns={"Codi_Districte":"CODE_DISTRICT", "Nom_Districte":"DISTRICT", "District.Name":"DISTRICT", "Import_€_Any":"IMPORT_€_ANUAL"})
df_renta

    CODE_DISTRICT      DISTRICT  IMPORT_€_ANUAL
0               1  Ciutat Vella           12351
1               1  Ciutat Vella           14598
2               1  Ciutat Vella           16271
3               1  Ciutat Vella           17803
4               2      Eixample           21890
..            ...           ...             ...
68             10    Sant Martí           24081
69             10    Sant Martí           12981
70             10    Sant Martí           19975
71             10    Sant Martí           18447
72             10    Sant Martí           16710

[73 rows x 3 columns]

In [7]:
df_renta = df_renta.groupby(['CODE_DISTRICT', 'DISTRICT'])['IMPORT_€_ANUAL'].apply(lambda x: x.mean()).round().reset_index()
df_renta

   CODE_DISTRICT             DISTRICT  IMPORT_€_ANUAL
0              1         Ciutat Vella         15256.0
1              2             Eixample         24140.0
2              3       Sants-Montjuïc         18274.0
3              4            Les Corts         29353.0
4              5  Sarrià-Sant Gervasi         32156.0
5              6               Gràcia         23072.0
6              7       Horta-Guinardó         19697.0
7              8           Nou Barris         14891.0
8              9          Sant Andreu         17337.0
9             10           Sant Martí         20610.0

In [8]:
df_renta.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CODE_DISTRICT   10 non-null     int64
 1   DISTRICT        10 non-null     object
 2   IMPORT_€_ANUAL  10 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 368.0+ bytes

In [9]:
df_renta.to_csv("../data/renta_cleaned.csv", index=False)