In [1]:
import pandas as pd

In [2]:
df_animals = pd.read_csv("../animals.csv")

print(df_animals)

   _id  CODI_DISTRICTE        NOM_DISTRICTE  1er SEMESTRE 2020  \
0    1               1         Ciutat Vella               3651
1    2               2             Eixample               9625
2    3               3       Sants-Montjuïc               8615
3    4               4            Les Corts               3592
4    5               5  Sarrià-Sant Gervasi               5819
5    6               6               Gràcia               5421
6    7               7       Horta-Guinardó               7484
7    8               8           Nou Barris               7893
8    9               9          Sant Andreu               6939
9   10              10           Sant Martí               9520

   2on SEMESTRE 2020
0               3717
1               9884
2               8770
3               3694
4               5945
5               5540
6               7636
7               8071
8               7134
9               9737

In [3]:
df_animals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   _id                10 non-null     int64
 1   CODI_DISTRICTE     10 non-null     int64
 2   NOM_DISTRICTE      10 non-null     object
 3   1er SEMESTRE 2020  10 non-null     int64
 4   2on SEMESTRE 2020  10 non-null     int64
dtypes: int64(4), object(1)
memory usage: 528.0+ bytes

In [4]:
df_animals['Anual 2020'] = df_animals[['1er SEMESTRE 2020', '2on SEMESTRE 2020']].mean(axis=1).round()
df_animals

,_id,CODI_DISTRICTE,NOM_DISTRICTE,1er SEMESTRE 2020,2on SEMESTRE 2020,Anual 2020
0,1,1,Ciutat Vella,3651,3717,3684.0
1,2,2,Eixample,9625,9884,9754.0
2,3,3,Sants-Montjuïc,8615,8770,8692.0
3,4,4,Les Corts,3592,3694,3643.0
4,5,5,Sarrià-Sant Gervasi,5819,5945,5882.0
5,6,6,Gràcia,5421,5540,5480.0
6,7,7,Horta-Guinardó,7484,7636,7560.0
7,8,8,Nou Barris,7893,8071,7982.0
8,9,9,Sant Andreu,6939,7134,7036.0
9,10,10,Sant Martí,9520,9737,9628.0

In [5]:
df_animals = df_animals.drop(columns = ['_id', '1er SEMESTRE 2020', '2on SEMESTRE 2020'])
df_animals

   CODI_DISTRICTE        NOM_DISTRICTE  Anual 2020
0               1         Ciutat Vella      3684.0
1               2             Eixample      9754.0
2               3       Sants-Montjuïc      8692.0
3               4            Les Corts      3643.0
4               5  Sarrià-Sant Gervasi      5882.0
5               6               Gràcia      5480.0
6               7       Horta-Guinardó      7560.0
7               8           Nou Barris      7982.0
8               9          Sant Andreu      7036.0
9              10           Sant Martí      9628.0

In [6]:
df_animals = df_animals.rename(columns={"CODI_DISTRICTE":"CODE_DISTRICT", "NOM_DISTRICTE":"DISTRICT", "Anual 2020":"TOTAL"})
df_animals

   CODE_DISTRICT             DISTRICT   TOTAL
0              1         Ciutat Vella  3684.0
1              2             Eixample  9754.0
2              3       Sants-Montjuïc  8692.0
3              4            Les Corts  3643.0
4              5  Sarrià-Sant Gervasi  5882.0
5              6               Gràcia  5480.0
6              7       Horta-Guinardó  7560.0
7              8           Nou Barris  7982.0
8              9          Sant Andreu  7036.0
9             10           Sant Martí  9628.0

In [7]:
df_animals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CODE_DISTRICT  10 non-null     int64
 1   DISTRICT       10 non-null     object
 2   TOTAL          10 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 368.0+ bytes

In [8]:
df_animals.to_csv("../animals_cleaned.csv", index=False)